AddType text/html .shtml .shtm .htm .html
AddHandler server-parsed .shtml .shtm .htm .html
Options Indexes
FollowSymLinks
Includes # Uncomment the version of PHP you have on your server
# Only one of the following  can be uncommented
AddHandler application/x-httpd-imh-php56 .html
#AddHandler application/x-httpd-imh-php70 .html
#AddHandler application/x-httpd-imh-php71 .html
#AddHandler application/x-httpd-imh-php72 .html
#AddHandler application/x-httpd-ea-php72 .html