* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px 10%;
}

/*petit menu des familles */

.menu {
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  background: #868686;
  border-radius: 2em;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
}

.dropdown {
  position: fixed;
  top: 15px;
  left: -1000px; /* position hors de l'écran */
  background: #868686;
  border-radius: 10px;
  padding: 10px;
  transition: left 0.3s ease;
  z-index: 998;
  font-size: 90%;
}

.dropdown a {
  display: inline-flex;
  text-decoration: none;
  color: white;
}
.menu:hover + .dropdown {
  left: 60px;
}

.menu:hover {
  transition: background 1s ease-in-out;
  animation: rota 1s;
  transform: rotate(90deg);
}
@keyframes rota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.dropdown:hover {
  left: 60px;
}

.dropdown a:hover {
  color: rgb(255, 119, 0);
  transition: color 1s ease;
  text-decoration: underline;
}
.menu img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ---------------------------------------------------------------------------------------- */

/* FOND DE PAYS */
#Argentine {
  background-image: url("../images/argentine/Argentine.png");
}
#France {
  background-image: url("../images/france/La_Tour_Eiffel.jpg");
}
#Japon {
  background-image: url("../images/japon/japonPRES.jpg");
}
#Suede {
  background-image: url("../images/suede/suedePres.jpg");
}
#Tunisie {
  background-image: url("../images/tunisie/acceuilTunisie.jpg");
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
}

.presentation {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Colonne_Intro {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 50%;
  align-items: center;
  justify-content: space-evenly;
  padding: 5% 0%;
}
.Titre_intro {
  text-align: center;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.342);
  width: 200px;
  padding-top: 10px;
  height: 30px;
  border: solid 0px;
  border-radius: 1em;
}
.Titre_infos {
  text-align: center;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.342);
  width: 300px;
  padding-top: 10px;
  height: 30px;
  border: solid 0px;
  border-radius: 1em;
  margin: 10px auto;
}
.Texte_intro {
  text-align: center;
  width: 90%;
  font-size: 13px;
  padding-bottom: 7px;
}
.Image_intro {
  width: 65%;
  border: solid 0px;
  border-radius: 0.5em;
}
section {
  height: 60vh;
}

/*!diapo pour donner envie ---------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------*/

#diaporama_envie {
  height: 40vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#diaporama_envie h2 {
  margin-bottom: 2%;
}
.diapo_container {
  margin: 10% 0%;
}

#diapo_txt {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  height: 200px;
  overflow: hidden;
  border: solid 2px white;
  border-radius: 0.5em;
}
#diapo_txt .slides_diapos_txt {
  border: hidden;
  height: 100%;
  position: relative;
  width: 400%;
  animation-name: diaporama;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
#diapo_txt .slides_diapos_txt .slides {
  float: left;
  height: 100%;
  width: 25%;
}

/*Suede image*/
#Suede #diapo_txt .slides_diapos_txt .slides:nth-child(1) {
  background-image: url("../images/suede/suede-bois-nature.jpg");
  background-size: cover;
  background-position: center center;
}
#Suede #diapo_txt .slides_diapos_txt .slides:nth-child(2) {
  background-image: url("../images/suede/suede-aurores.jpg");
  background-size: cover;
  background-position: center center;
}
#Suede #diapo_txt .slides_diapos_txt .slides:nth-child(3) {
  background-image: url("../images/suede/saumon_gravd_lax.jpg");
  background-size: cover;
  background-position: center center;
}
#Suede #diapo_txt .slides_diapos_txt .slides:nth-child(4) {
  background-image: url("../images/suede/Kanelbullar.jpg");
  background-size: cover;
  background-position: center center;
}

/*Agentine image*/
#Argentine #diapo_txt .slides_diapos_txt .slides:nth-child(1) {
  background-image: url("../images/argentine/chute\ d'iguazu.jpg");
  background-size: cover;
  background-position: center center;
}
#Argentine #diapo_txt .slides_diapos_txt .slides:nth-child(2) {
  background-image: url("../images/argentine/le\ mole\ pablano.jpg");
  background-size: cover;
  background-position: center center;
}
#Argentine #diapo_txt .slides_diapos_txt .slides:nth-child(3) {
  background-image: url("../images/argentine/gauchos.jpg");
  background-size: cover;
  background-position: center center;
}
#Argentine #diapo_txt .slides_diapos_txt .slides:nth-child(4) {
  background-image: url("../images/argentine/puerto\ madero.jpg");
  background-size: cover;
  background-position: center center;
}

/*Japon images*/
#Japon .slides:nth-child(1) {
  background-image: url("../images/japon/parc_cerisier.png");
  background-size: cover;
  background-position: center center;
}
#Japon .slides:nth-child(2) {
  background-image: url("../images/japon/cours_cuisin.png");
  background-size: cover;
  background-position: center center;
}
#Japon .slides:nth-child(3) {
  background-image: url("../images/japon/musee_samourai.jpg");
  background-size: cover;
  background-position: center center;
}
#Japon .slides:nth-child(4) {
  background-image: url("../images/japon/shibuya.png");
  background-size: cover;
  background-position: center center;
}

/*France images*/
#France .slides:nth-child(1) {
  background-image: url("../images/france/pays/mont\ saint\ michel.png");
  background-size: cover;
  background-position: center center;
}
#France .slides:nth-child(2) {
  background-image: url("../images/france/MACARON\ DIAPO.jpeg");
  background-size: cover;
  background-position: center center;
}
#France .slides:nth-child(3) {
  background-image: url("../images/france/Louvre\ diapo.jpg");
  background-size: cover;
  background-position: center center;
}
#France .slides:nth-child(4) {
  background-image: url("../images/france/plateau_bourgogne_diapo.jpg");
  background-size: cover;
  background-position: center center;
}
/*diapo tunisie*/
#Tunisie .slides:nth-child(1) {
  background-image: url("../images/tunisie/local-and-imported-fruits.jpg");
  background-size: cover;
  background-position: center center;
}
#Tunisie .slides:nth-child(2) {
  background-image: url("../images/tunisie/tajine.png");
  background-size: cover;
  background-position: center center;
}
#Tunisie .slides:nth-child(3) {
  background-image: url("../images/tunisie/teatro-municipal-de-tunis.jpg");
  background-size: cover;
  background-position: center center;
}
#Tunisie .slides:nth-child(4) {
  background-image: url("../images/tunisie/baklava.jpg");
  background-size: cover;
  background-position: center center;
}

.slides_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: 0% 10%;
}
.slides_text {
  font-size: 14px;
}
.slides_text a {
  font-size: 14px;
  color: rgb(199, 199, 211);
  background-color: rgba(0, 0, 0, 0.281);
  text-decoration: none;
  width: 60px;
  border: solid 0px;
  border-radius: 0.5em;
}
.slides_text p {
  background-color: rgba(0, 0, 0, 0.281);
  width: 100%;
  border: solid 0px;
  border-radius: 0.5em;
  margin-bottom: 1%;
}
.slides_text a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

@-webkit-keyframes diaporama {
  from,
  10% {
    right: 0%;
  }
  30%,
  40% {
    right: 100%;
  }
  60%,
  70% {
    right: 200%;
  }
  90%,
  to {
    right: 300%;
  }
}
@keyframes diaporama {
  from,
  10% {
    right: 0%;
  }
  30%,
  40% {
    right: 100%;
  }
  60%,
  70% {
    right: 200%;
  }
  90%,
  to {
    right: 300%;
  }
}
/*!fin diapo*/

/*Les Destination ---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------*/

.conteneur_destination {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-evenly;
}
.destination {
  width: 100%;
  margin: 5% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section iframe {
  width: 100%;
  height: 100px;
}
.conteneur_destination a {
  display: block;
  text-align: center;
  width: 230px;
  border: solid 0px;
  border-radius: 0.25em;
  text-decoration: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.274);
}
.conteneur_destination a:active {
  background-color: rgba(128, 128, 128, 0.274);
  font-size: 17px;
  border: solid 0px;
  border-radius: 0.25em;
}
#texte_destination {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
}

#texte_destination h3 {
  text-decoration: underline;
  text-align: center;
}
.image_a_cacher {
  display: none;
}
#texte_destination div p {
  text-align: center;
  width: 100%;
}

/*Bouton pour revenir en haut de la page.*/

.top {
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  background: #868686;
  border-radius: 100px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
}

footer :hover {
  background-color: rgb(255, 119, 0);
  transition-delay: 0.3s;
  transition: background-color 0.5s ease-in-out;
}

/*Bouton pour revenir a la page d'accueil.*/

.home {
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  background: #868686;
  border-radius: 100px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
}

/*  */

/* css pour la section .reserve */
.reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(149, 149, 149, 0.4);
  border: 2px solid white;
  border-radius: 1em;
  padding: 2% 0%;
  margin: 5% 0%;
  box-shadow: 0px 0px 70px -20px rgb(0, 0, 0);
  height: auto;
  width: 300px;
  margin-bottom: 100%;
}

.reserve:hover {
  background-color: rgba(148, 147, 147, 0.7);
}

#btn_resa {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

#btn_resa:hover {
  background-color: rgb(255, 119, 0);
  color: #fff;
  transition-delay: 0.3s;
  transition: background-color 0.5s ease-in-out;
}

/*  */

/*responsive -------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 400px) {
  .reserve {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 5%;
  }
  .Texte_intro {
    font-size: 16px;
  }
  .Titre_intro {
    width: 50%;
    padding-top: 10px;
    min-height: 30px;
  }
  .Titre_infos {
    /* padding-bottom: 4px; */
    width: 330px;
    text-transform: uppercase;
  }
  .conteneur_destination {
    height: 70vh;
  }
}

@media screen and (min-width: 1000px) {
  .presentation {
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
  }
  /* #diaporama_envie{
    padding-top: 0%;
  } */
  .Colonne_Intro {
    height: 65%;
    justify-content: space-between;
    width: 40%;
  }
  .Image_intro {
    height: 175px;
    max-width: 275px;
  }

  article {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .conteneur_destination {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }
  .destination {
    margin: 0px;
    height: 175px;
    position: relative;
    width: 100%;
  }
  /*permet de mettre l'iframe en bas à droite*/
  section iframe {
    height: 75px;
    width: 150px;
    z-index: 2;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
  .destination a {
    display: none;
    height: 25px;
  }
  #texte_destination {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  #texte_destination div {
    height: 175px;
  }
  #diaporama_envie {
    height: 100vh;
  }
  #diapo_txt {
    height: 400px;
    width: 75%;
  }
  .slides p {
    font-size: 18px;
  }
  /*affiche l'image de fond*/
  .image_a_cacher {
    display: block;
    width: 500px;
    height: 175px;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
  }
}
@media screen and (orientation: landscape) {
  .presentation {
    flex-direction: row;
    height: 600px;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
  }
  /* #diaporama_envie{
    padding-top: 0%;
  } */
  .Colonne_Intro {
    height: 65%;
    justify-content: space-between;
    width: 50%;
  }
  .Image_intro {
    height: 175px;
    width: 65%;
  }

  article {
    display: flex;
    flex-direction: row;
    height: 600px;
    justify-content: space-between;
  }

  .conteneur_destination {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }
  .destination {
    margin: 0px;
    height: 175px;
    width: 100%;
  }
  section iframe {
    height: 100px;
    padding-top: 10%;
  }
  .destination a {
    display: none;
  }
  #texte_destination {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    
  }
  #texte_destination div {
    height: 175px;
    padding: 0px 5%;
  }
  #diaporama_envie {
    height: 100vh;
  }
  #diapo_txt {
    height: 400px;
    width: 75%;
  }
  .slides p {
    font-size: 18px;
  }
  .reserve {
    width: 40%;
    margin: 100px auto;
    height: 100px;
  }
}
