*{
    font-family: sans-serif;
}

body {
      background-image: url('../images/accueil.jpg');
}

.TitleCountry{
    position:relative;
    z-index: 2;
    background-color: rgba(144, 140, 140, 0.5);
    border-radius: 2em;
    width: auto;
}
.TitleCountry p{
    font-size:15;
    text-align: center;
    padding: 0;
}

#Argentine{
  margin:0px;
}
.ArgentineContainer{
  display:flex;
  width: 100%;
  height: 100vh;

}
.ArgentinePresentation{
  display:flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  margin: 0px;
}
