body {
  background-image: url('../images/accueil.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* couleur noir semi-transparente */
  z-index: 1; 
}

.contenu {
  position: relative; 
  z-index: 2;
  color: white; 
  font-family: sans-serif; 
  text-align: center; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 80vh; 
}
.boutton_en_savoir_plus{
  background-color: yellow;
  border: solid 0px black;
  border-radius: 0.5em;
}
