/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*Code generale, fait effet sur toute la page.*/
*{
  font-family: "Rubik",sans-serif;
}
html {
  scroll-behavior: smooth;
}

#Accueil{
  background-image: url('../images/accueil/accueil.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* couleur noir semi-transparente */
  z-index: 1; 
} 


/*Code qui s'occupe de la mise en page pour l'écran quand on arrive sur le site*/

#Titre {
  width: 100%;
  color: white;  
  text-align: center; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-align: center; 
      -ms-flex-align: center; 
          align-items: center; 
  -webkit-box-pack: center; 
      -ms-flex-pack: center; 
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; 
  height: 100vh; /* Utilisez 100 % de la hauteur de la fenêtre. */
  vertical-align: middle; /*met le truc au milieu verticalement*/
}

.boutton_en_savoir_plus{
  background-color: rgb(255, 119, 0);
  border: solid 0px black;
  border-radius: 2em;
  padding: 0.5em 1em;
  width: 100px;
}
.boutton_en_savoir_plus:hover{
  cursor: pointer;
}
.boutton_en_savoir_plus a{
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

/*Mise en page pour la présentation du site, de ce que va presenter le site pour l'utilisateur.*/

#presentation{
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
#presentation_titre{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  /* text-decoration: underline; */
  /* font-family: "Oswald", sans-serif; */

}

.conteneur_presentation{
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  /* height: 100%; */ /*(ALEX) j'ai enlevé car y'a trop d'espace entre le titre et les détails*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: space-around;
}
.conteneur_colone{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categorie_presentation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
           /* center images */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
         

  width: 500px;
  height: 200px;
  justify-content: center;
}
.categorie_presentation img{
  position: relative;
  width: 40px;
  height: 40px;
  padding-top: 10px;
}


.titre_texte{
  width: 70%;
  padding-left: 10px;
}

/*Partie de code pour mise en page des 5 rectangles pour acceder a la page des pays.*/

.conteneur_pays{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(149, 149, 149, 0.4);
  border: solid black 0px;
  border-radius: 0.5em;
  width: 800px;
  height: 300px;
  border: 2px solid white;
  margin: 20px 0px;
}
.conteneur_pays:hover{
  background-color: rgba(148, 147, 147, 0.7);
}

.conteneur_diapo{
  width: 60%;
}
.image_diapo{
  margin: 5%;
  width: 90%;
  height: auto;
}

.conteneur_info_pays{
  width: 35%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.conteneur_info_pays p{
  width: 100%;
  margin: 0px;
  text-align: center;
}

.titre_pays{
  font-size: 22px;
  font-weight: bold;
}

.boutton_decouvrir{
  position: relative;
  color: white;
  background-color: rgb(255, 255, 255); 
  border: solid 0px black;
  border-radius: 2em;
  padding: 0.5em 1em;
  height: 45px;
  width: 70%;
  text-align: center;
  margin-bottom: 5px;
}
.boutton_decouvrir a{
  display: block;
  text-decoration: none;
  padding-bottom: 50px;
  font-size: 20px;
  color: black;
  font-weight: bold;
  height: 8px;
}
.boutton_decouvrir a:hover{
  color:rgb(255, 119, 0);
}

/*Bouton pour remonter tout en haut de la page.*/

.top {
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  background: #868686;
  border-radius: 100px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
}


/*responsive pour grade tablettes/pc*/

@media screen and (max-width : 1000px) and (min-width : 801px) {
  /*Mise en page pour la présentation du site, de ce que va presenter le site pour l'utilisateur.*/
  #presentation{
    height: 1000px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .conteneur_presentation{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .conteneur_colone{
    width: 100%;
  }
  
  /*Partie de code pour mise en page des 5 rectangles pour acceder a la page des pays.*/

 
  .conteneur_diapo{
    width: 90%;
  }
  .conteneur_info_pays{
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

}

/*Responsive pour telephone et petite tablette.*/

@media screen and (max-width: 800px) {
  /*Mise en page pour la présentation du site, de ce que va presenter le site pour l'utilisateur.*/
  #presentation{
    height: 1000px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .conteneur_presentation{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .conteneur_colone{
    width: 100%;
  }

  .categorie_presentation{
    width: 100%;
  }
  
  /*Partie de code pour mise en page des 5 rectangles pour acceder a la page des pays.*/

  .conteneur_pays{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60vh;
    width: 100%;
    -ms-flex-pack:distribute;
        justify-content:space-around;
  }
  .conteneur_diapo{
    width: 100%;
  }
  .conteneur_info_pays{
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .boutton_decouvrir {
    left: 0%;
    width: 60%;
    height: 40px;
  }
  .boutton_decouvrir a{
    font-size: 18px;
    height: 0px;
  }

}
@media screen and (orientation: landscape) and (min-height = 830px) {
  .conteneur_pays{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(149, 149, 149, 0.4);
    border: solid black 0px;
    border-radius: 0.5em;
    width: 800px;
    height: 300px;
    border: 2px solid white;
    margin: 20px 0px;
  }
}
/*
@media screen and (witdh < 830px) and (orientation: landscape)  {
  .conteneur_pays{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(149, 149, 149, 0.4);
    border: solid black 0px;
    border-radius: 0.5em;
    width: 650px;
    height: 550px;
    border: 2px solid white;
    margin: 20px 0px;
  }
  .boutton_decouvrir{
    height: 25px;
    width: 50%;
    text-align: center;
    margin-bottom: 0px;
  }
}
*/

/*responsive pour telephones petit*/

@media screen and (max-width : 380px) {
  /*Partie de code pour mise en page des 5 rectangles pour acceder a la page des pays.*/
  .conteneur_pays{
    height: 70vh;
  }
  .conteneur_info_pays{
    width: 100%;
  }

  .boutton_decouvrir {
    left: 0%;
    width: 60%;
    height: 40px;
  }
  .boutton_decouvrir a{
    font-size: 18px;
    height: 0px;
  }
  
}  